@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_main_wrapper{
    height: 100vh;
    min-height: 100vh;
}
.header_section{
    height: 10vh;
}



.hundred_percentage_view_fix{
    height: 100vh;
}
.abc_header_section{
    display: flex;
    position: sticky;
    top: 0;
    height: 10vh;
    background-color:#0D0D0D;
}
.abc_header_section_left{
    display: flex;
    align-items: center;
    gap: 1.5em;
    justify-content: center;
    width: 40%;
}
.abc_header_section_left a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    transition: 1000ms;
}
.abc_header_section_left a:hover{
    color: rgb(239, 15, 15);
}
.abc_header_section_middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.abc_header_section_middle p{
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}
.abc_header_section_right{
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.abc_header_section_right button{
    border: none;
    padding: 1em;
    border-radius: 20px;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 1000ms;
    cursor: pointer;
}
.abc_header_section_right button:hover{
    background-color: yellow;
}



/* This is body css code */
.page_body_main_wrapper{
    display: flex;
    align-items: center;
    height: 34.5em;
}
.body_content{
    width: 90%;
    max-width: 65em; 
    min-height: 30em;
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    border-radius: 10px
    
}
.left_warpper{
    padding-left:10px ;
    width: 50%;
    min-width: 20em;
    /* background-color: rgb(223, 223, 223); */

}
.right_warpper{
    width: 50%;
    min-width: 20em;
    display: flex;
    justify-content: center;
    /* background-image: url(Assert/Register/registeri.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
.left_warpper h2{
    font-size: 2rem;
}
.left_warpper p{
    font-size: 1.2rem;
    color: rgb(77, 76, 75);
}
.left_warpper_user_input{
    width: 100%;
    height: 22em;
}
.left_warpper_user_input input{
    padding-left: 10px;
    width: 60%;
    height: 2.5em;
    color: rgb(100, 101, 101);
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
    border: 1px solid rgb(177, 174, 174);
}
.left_warpper_user_input input::placeholder{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(100, 101, 101);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.left_warpper_user_input input:focus{
    border: 2px solid rgb(70, 169, 245);
}
.left_warpper_user_input select:focus{
    border: 2px solid rgb(70, 169, 245);
}
.left_warpper_user_input select{
    padding-left: 10px;
    width: 60%;
    height: 2.5em;
    font-weight: bold;
    color: rgb(100, 101, 101);
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
    border: 1px solid rgb(177, 174, 174);
}
.user_input_tems{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}
.user_input_tems label{
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.google_login{
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 75%;
    height: 2.8em;
    border: 1px solid rgb(77, 74, 74);
    cursor: pointer;
}
.redirect_loging_page{
    margin-top: 15px;
}
.redirect_loging_page p{
    font-size: 1.2rem;
    color: black;
}
.redirect_loging_page p a{
    text-decoration: none;
    color: rgb(46, 46, 241);
}
.footer_btn{
   text-align: end;
   padding-right: 70px;
}
.footer_btn button{
    padding: 0.5em;
    width:7em;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: rgb(18, 102, 238);
    border-radius: 5px;
}



.sign_in_method{
    padding-left:10px ;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 60%;
}
.sign_in_method_icons{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:100%;
    width: 2.5em;
    height: 2.5em;
}
.right_warpper img{
    border-radius: 60px 20px 60px 10px;
    border: 4px solid rgb(0, 0, 0);
}
.user_check_box{
    padding-left: 15px;
    display: flex;
    gap: 0.5em;
}
.user_check_box input{
    width: 20px;
}
.user_check_box p{
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 0.8rem;
}


.footer_wrapper{
    padding-top: 20px;
    background-color: rgb(0, 0, 0);
    height: 15em;
}
.footer_header{
    display: flex;
    height: 5em;
}
.footer_header_left{
    width: 20%;
}
.footer_header_middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.footer_header_middle h2{
    color: white;
}
.footer_header_right{
    width: 20%;
}
.middle_section_footer{
    display: flex;
    height: 3em;
}
.middle_section_footer_left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.middle_section_footer_left p{
    border-top: 3px solid red;
    padding: 5px;
    color: white;
    border-bottom: 3px solid red;
}
.middle_section_footer_middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.middle_section_footer_middle p{
    color: white;
}
.middle_section_footer_right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.middle_section_footer_right p{
    border-top: 3px solid red;
    padding: 5px;
    color: white;
    border-bottom: 3px solid red;
}
.bottom_section_footer{
    margin-top: 20px;
    display: flex;
}
.bottom_section_footer_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.bottom_section_footer_left p{
    color: white;
    width: 70%;
}
.bottom_section_footer_middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.bottom_section_footer_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.bottom_section_footer_right p{
    color: white;
    width: 80%;
}
.email_address_customize{
    width: 75%;
    max-width: 27em;
    height: 2.5em;
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(255, 149, 10);
}
.email_address_customize input{
    width: 60%;
    height: 100%;
    background-color: black;
    border: none;
    padding-left: 10px;
    color: white;
}
.email_address_customize button{
    width: 39%;
    height: 100%;
    background-color: rgb(255, 149, 10);
    border: none;
    color: black;
}

#copyright_2{
    margin-top: 10px;
    color: white;
    text-align: center;
    background-color: black;
}
